* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
}

h1 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 140px;
  margin-top: 30px;
}

.sub-heading {
  background-color: rgb(136, 101, 181);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 25%;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left: 2px;

}
.content {
  background-color: rgb(65, 224, 29);
  border: 1px solid rgb(0, 0, 0);
  font-size: 15px;
  padding: 35px 5px 5px 5px;
position: relative;

}
.container {
  border: 1px solid rgb(0, 0, 0);
  width: 32%;
  margin: 5px;
  display: inline-block;
}

@media only screen and (max-width: 991px)   {
.device1, .device2  {
  width:45%;
  display:inline-block;
}
.device1 {
  margin-left: 4%;
}

.device2 {
  margin: 0 auto;
}
.device3 {
  width: 90%;
  display: block;
  margin: 20px auto;

}

h1 {
  font-size: 25px;
  margin-bottom: 80px;
  margin-top: 20px;
}
}

@media only screen and (max-width: 767px)  {
  .container {
    display: block;
    width: 90%;
    margin: 20px auto;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 15px;
  }
  .sub-heading {
    width: 40%;
  }
}
